.content-area .main-content {
    min-width: 600px;
    width: 100%;
    flex-direction: column;
}

.content-card-body {

    justify-content: flex-start;
    gap: var(--gap-15px);
    padding: 0 var(--gap-md) var(--gap-md) var(--gap-md);

}

#problem-source-container {
    display: flex;
    flex-direction: row;
    gap: var(--gap-sm);
}

.content-area > div {
    display: flex;
    flex-direction: row;
    gap: var(--gap-lg);
}

main, .content-area {
    gap: var(--gap-lg);
    flex-direction: row;
}

.content-area .page-description {
    font-weight: var(--h2-alt-font-weight);
}

.filters-list {
    justify-content: space-between;
    align-items: start;
}

.filters-list-left {
    display: flex;
    gap: var(--gap-md);
}

.content-area .separator {
    height: 1px;
    background: var(--border-subtle);
}

.header-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-area .side-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
    position: sticky;
    top: calc(var(--padding-lg-aside) + var(--top-bar-height));
    align-self: flex-start;
    min-width: 250px;
}


.card {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

.card a {
    color: var(--primary);
}

.card a:hover {
    text-decoration: underline;
}

.lectii-sectiune .header-lectii-sectiune {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}
.lectii-sectiune .visited {
    color: var(--primary);
}

.lectii-sectiune .active {
    color: var(--text-colour);
}

.lectii-sectiune .disabled {
    color: var(--disabled-text);
}

.lectii-sectiune .header-lectii-sectiune h4 {
    font-weight: var(--h4-alt-font-weight);

}

.problem-body {
    display: flex;
    flex-direction: column;
    gap: var(--gap-15px);
}

.content-area ul, .content-area ol {
    padding-left: var(--gap-lg);
    font-size: var(--body-font-size);
}

.header-icons, .problem-buttons-bottom {
    display: flex;
    gap: var(--gap-md);
    justify-content: flex-end;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

.bread {
    font-weight: var(--h2-alt-font-weight);
    color: var(--disabled-text);
}